.margin {
margin: 10px 0;
}

.list {
float:left;
width:31.50%;
margin: 10px;
text-align:center;

}

.border {
	border-radius:100px;
}

.center {
	text-align:center;
}

body {
	background: #fafafa;
	margin: 0;
}
#content {
	background: white;
	width: 500px;
	height: auto;
	margin: 100px auto;
	padding: 30px;
}
#content img {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	width: 200px;
}
#content p {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}
.starts {
	display: block;
}
.star {
	background: #999;
	display: inline-block;
	height: 10px;
	width: 10px;
}
.star.colored {
	background: #ffd900;
}
.black_type {
	font-size: 30px;
	font-weight: 700;
}
.contratar {
	background: #52A3E0;
	border: none;
	color: white;
	padding: 8px 15px;

}
.bg
{
  background-size: cover;
  background-image: url('../img/home.jpg');
}