{% extends 'bases/base.html' %}
{% load staticfiles %}
{% block content %}
	<div id="content">
		<img src="http://placehold.it/200x200">
		<p>
			<span class="black_type">{{instance.first_name}}</span> <br/>
			<i>{{instance.oficio}}</i> <br/>
			<i>{{instance.delegacion}}</i> <br/>
			Tel: {{instance.telephone}} <br/>
			<span class="starts">
				<span class="star colored"></span>
				<span class="star colored"></span>
				<span class="star colored"></span>
				<span class="star colored"></span>
				<span class="star"></span>
			</span>
			<button class="contratar">Contratar</button>
		</p>
	</div>
{% endblock %}